spring:
  application:
    name: order-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/order_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

server:
  port: 8081

logging:
  level:
    com.ecommerce.orderservice: DEBUG
    org.hibernate.SQL: DEBUG
