spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
  profiles:
    active: native  # Use file system instead of Git for now

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh