spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/order_db
    username: orderuser
    password: orderpass
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

inventory:
  service:
    url: http://inventory-service  # Via Eureka

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh